@import url("../mixins");
@import url("../variables");

.__project-footer {
  width: 100%;
  height: 200px;
  background-color: #060606;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .__project-footer__element1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: #fff;

      @include font-style($fontsans, 18px, 400, 16px);

      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
  }

  .__project-footer__element2 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    p {
      color: $footerColor;

      @include font-style($fontsans, 16px, 400, 19px);
    }

    a {
      margin-top: 20px;
      color: $footerColor;

      @include font-style($fontsans, 16px, 400, 19px);

      text-decoration: none;
    }
  }

  .__project-footer__element3 {
    p {
      color: $footerColor;

      @include font-style($fontsans, 16px, 400, 19px);
    }
  }
}
